body {
  background-color: aliceblue;
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 8vh;
  background-color: #5d4954;
}
.logo {
  text-transform: uppercase;
  font-size: large;
  letter-spacing: 5px;
  color: rgb(245, 237, 237);
  font-weight: bolder;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: rgb(228, 215, 215);
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.nav-links li a:hover {
  color: aliceblue;
}
.lines div {
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: 0.3s ease;
}
.lines {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .lines {
    display: block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
